
script(type="text/ng-template", id="tournament-duel")

  div(layout="row")
    .match-column.round-header.md-subhead.subhead(ng-repeat="match in maxMatches track by $index", scroll-observe="{{$index}}") Round {{$index+1}}

  .match-area(layout="row")

    .match-column(
      ng-repeat="match in maxMatches track by $index",
      ng-init="thisIndex=$index+1",
      flex,
      layout="column",
      layout-align="space-around center")

      .match(
        data-match-id="{{match.id}}",
        draw-to="{{nextMatch(match.id)}}"
        ng-repeat="match in trn.matches | inRound:thisIndex",
        ng-init="match.score = match.score || []",
        ng-class="{ unplayable: invalidMatch(match), complete: match.m }")

        div(ng-if="noRender(match)", flex)
        .match-data(ng-if="!noRender(match)", layout="row", layout-align="center center")
          .round-type {{match.id.s}}-{{toCharacter(getIdForMatch(match.id))}}
          .match-name.margin-left-10.margin-right-10(layout="column")
            .member.member-0 {{getName(match.p[0]-1) || '-'}}
              md-tooltip(ng-if="bucket[match.p[0]-1]") {{bucket[match.p[0]-1].alias || 'no alias'}}: {{bucket[match.p[0]-1].name}}
            .member.member-1 {{getName(match.p[1]-1) || '-'}}
              md-tooltip(ng-if="bucket[match.p[1]-1]") {{bucket[match.p[1]-1].alias || 'no alias'}}: {{bucket[match.p[1]-1].name}}
          div(layout="column", ng-if="!invalidMatch(match)")
            score(value="match.score[0]")
            score(value="match.score[1]")
          div(layout="column", ng-if="invalidMatch(match)")
            .score-container
              .score-value -
            .score-container
              .score-value -
          div.margin-left-10.confirm-score
            ng-md-icon(size="24", icon="check_circle", ng-click="confirmScore(match)", ng-if="!invalidMatch(match) && !scoresEqual(match)", style="fill: {{match.m ? '#ccc' : '#000'}}")