
html(ng-app='openchallenge', ng-controller="rootController")
  head
    title OpenChallenge
    link(rel="stylesheet", href="css/lib.min.css")
    link(rel="stylesheet", href="css/main.min.css")
    meta(name="viewport", content="initial-scale=1")

  body(layout="column", ng-cloak)

    md-toolbar(layout="row", ng-controller="navController", ng-include="'navbar'")

    div(layout="row", flex)
      md-sidenav.md-sidenav-left.md-whiteframe-z2(
        layout="column",
        ng-if="sidebar.hasSidebar",
        md-is-locked-open="$mdMedia('gt-sm')",
        md-component-id="left",
        ui-view="sidebar",
        md-swipe-left="dismissSidebar()")
      div(layout="column", flex)
        md-content(layout="column", layout-padding, flex, ui-view="content")

    script(src='js/lib.min.js')
    script(src='js/main.min.js')
    <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
