
html(ng-app='openchallenge', ng-controller="rootController")
  head
    title TournamentMango
    link(rel="stylesheet", href="./css/lib.min.css")
    link(rel="stylesheet", href="./css/main.min.css")
    meta(charset="UTF-8")
    meta(name="description", content="TournamentMango: An open source tournament bracket and user management system")
    meta(name="author", content="Kyle J. Kemp (seiyria)")
    meta(name="viewport", content="initial-scale=1")
    meta(name="viewport", content="width=device-width")

    meta(name="theme-color", content="#43a047")
    meta(name="msapplication-navbutton-color", content="#43a047")
    meta(name="apple-mobile-web-app-status-bar-style", content="#43a047")
    base(href="./")

  body(layout="column", ng-cloak)

    md-toolbar(layout="row", ng-controller="navController", ng-include="'navbar'")

    div(layout="row", flex)
      md-sidenav.md-sidenav-left.md-whiteframe-z2(
        layout="column",
        ng-if="sidebar.hasSidebar",
        md-is-locked-open="$mdMedia('gt-sm')",
        md-component-id="left",
        ui-view="sidebar",
        md-swipe-left="dismissSidebar()")
      div(layout="column", flex)
        md-content(layout="column", flex, ui-view="content")

    script(src='./js/lib.min.js')
    script(src='./js/main.min.js')