script(type="text/ng-template", id="/tournaments/not-started")
  div(layout="row", flex)
    md-card.almost-max-height(layout="column", flex="40")
      md-content(flex, md-scroll-y)
        md-list.player-bucket-list(flex, sv-root, sv-part="bucket")
          md-subheader Players ({{bucket.length}})
          md-list-item.md-2-line(
            ng-if="bucket.length === 0"
          )
            .md-list-item-text
              h3 No players available
              p
                a(ui-sref="userManage") Add some more!

          md-list-item.md-2-line(
            ng-repeat="player in bucket",
            sv-element,
            layout="row",
            layout-align="center center",
            ng-class="{highlight: $index % 4 === 1 || $index % 4 === 0}",
            ng-init="player._isDeleteVisible = false; player.chosenAlias = player.aliases[0]",
            ng-mouseenter="player._isDeleteVisible = true",
            ng-mouseleave="player._isDeleteVisible = false"
            )
            span.md-avatar(layout="row", layout-align="center center")
              ng-md-icon(size="36", icon="reorder", sv-handle)

              span {{ toCharacter($index+1) }}

            .md-list-item-text(layout="column")
              h3 {{player.name}}
              p Record: {{player.wins || 0}}/{{player.losses || 0}} ({{player.points || 0}} points)

            md-input-container.auto-vert-margin(ng-if="player.aliases.length > 0")
              label Alias
              md-select(ng-model="player.chosenAlias", ng-disabled="player.aliases.length === 1")
                md-option(ng-repeat="alias in player.aliases", value="{{alias}}") {{alias}}

            .auto-vert-margin(style="width: 25px")
              ng-md-icon.pointer(size="24", icon="delete", ng-show="player._isDeleteVisible", ng-click="removeFromBucket(player)")

    md-card(flex, layout-align="start start")
      md-list(layout="column")
        md-subheader Options

        md-list-item
          md-radio-group.margin-left-20(ng-model="tournamentOptions.type", layout="row")
            md-radio-button.md-primary(value="singles") Single Elimination
            md-radio-button.md-primary(value="doubles") Double Elimination
            md-radio-button.md-primary(value="groupstage") GroupStage

        md-list-item(ng-if="tournamentOptions.type === 'singles' || tournamentOptions.type === 'doubles'")
          ng-md-icon(icon="help", size="24")
            md-tooltip No 3rd/4th place matches or double grand final
          md-checkbox(ng-model="tournamentOptions.short", aria-label="Short") Short tournament

        md-list-item(ng-if="tournamentOptions.type === 'groupstage'")
          ng-md-icon.margin-right-10(icon="help", size="24")
            md-tooltip The number of players in each group
          md-input-container(ng-init="tournamentOptions.groupSize = baseGroupSize()")
            label Group Size
            input(type="number", ng-model="tournamentOptions.groupSize", min="2", max="{{bucket.length}}")

        md-list-item(ng-if="tournamentOptions.type === 'groupstage'")
          ng-md-icon.margin-right-10(icon="help", size="24")
            md-tooltip The number of points awarded for a win
          md-input-container(ng-init="tournamentOptions.winPoints = 3")
            label Win Points
            input(type="number", ng-model="tournamentOptions.winPoints")

        md-list-item(ng-if="tournamentOptions.type === 'groupstage'")
          ng-md-icon.margin-right-10(icon="help", size="24")
            md-tooltip The quantity of points awarded in a tie
          md-input-container(ng-init="tournamentOptions.tiePoints = 1")
            label Tie Points
            input(type="number", ng-model="tournamentOptions.tiePoints")

        md-list-item(ng-if="tournamentOptions.type === 'groupstage'")
          ng-md-icon.margin-right-5(icon="help", size="24")
            md-tooltip Look at the sum of scores in case of ties
          md-checkbox(ng-model="tournamentOptions.breakScores") Break ties on score sum

        md-list-item(flex)

        md-list-item
          md-button.md-primary.md-raised.margin-left-50(ng-click="start()", ng-disabled="isInvalid()") Start
